@import "bourbon"
@import "vars.sass"

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $font_regular
	overflow-x: hidden

.hidden
	display: none

*
	outline: none
	a
		&:hover, &:focus, &:active
			text-decoration: none

body.main
	header
		background-image: url('../img/bg.png')
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover

.blue-btn
	display: inline-block
	background-color: #41a6dc
	color: #fff
	padding: 12px 36px
	font-family: $font_medium
	border-radius: 5px
	&:hover
		background-color: #141414
		color: #fff

header
	background-color: $grey
.contacts
	padding: 25px 0
	&:after
		content: ''
		display: block
		clear: both
	.main-partners
		vertical-align: middle
		display: inline-block
		margin-right: 30px
		.main-partners-item
			margin-right: 20px
			display: inline-block
			img
				margin-right: 10px
			span
				display: inline-block
				vertical-align: middle
				color: #515151
				font-family: $font_medium
				line-height: 1.2
	.phones
		vertical-align: middle
		display: inline-block
		a
			margin-left: 5px
			font-family: $font_bold
			color: $dark_blue
			&:hover
				text-decoration: underline
	.btn-wrapper
		float: right
.menu
	background-color: #fff
	padding: 19px 0
	ul
		margin: 0
		padding: 0
		list-style: none
		display: inline-block
		li
			display: inline-block
			margin-right: 20px
			a
				font-family: $font_bold
				color: $dark_blue
				&:hover
					opacity: .6
	.pdf
		float: right

.pdf
	color: #41a6dc
	padding-left: 20px
	font-family: $font_bold
	background-image: url('../img/icons/pdf.svg')
	background-repeat: no-repeat
	background-position: 0 50%
	display: inline-block

footer
	background-color: $dark_blue
	.contacts
		.main-partners
			.main-partners-item
				span
					color: #fff
		.phones
			a
				color: #fff

.block-title
	font-family: $font_black
	font-size: 32px
	color: #fff
	&.blue-block-title
		color: $dark_blue

.competition
	padding: 0 0 35px 0
	.competition-block
		padding: 70px 0 0 0
	p
		font-family: $font_bold
		color: #383838
		margin: 20px 0
	.competition-info
		width: 730px
		p
			width: 605px
	.competition-docs
		margin-top: 25px
		a
			margin-right: 25px

.competition-rewards
	margin-top: 30px
	.competition-rewards-title
		font-family: $font_bold
		color: $dark_blue
		margin-bottom: 10px
	.competition-reward-item
		margin-bottom: 10px
		background-color: rgba(31, 43, 84, 0.7)
		padding: 24px
		img
			vertical-align: middle
			margin-right: 24px
		p
			display: inline-block
			font-family: $font_bold
			color: #fff
			width: 237px
			vertical-align: middle
			margin: 0

.bg-white
	background-color: #fff

.bg-grey
	background-color: $grey

.mob-menu-icon
	position: fixed
	top: 20px
	right: 20px
	text-align: center
	padding: 0
	border-radius: 50%
	z-index: 11
	display: none
	vertical-align: middle
	background-color: $dark_blue
	width: 28px
	height: 28px
	#menu-toggle
		display: inline-block
		margin: 0
	&.active
		.menu-close-btn-text
			display: inline-block

.tb-menu-toggle
	border: 0
	position: relative
	background: transparent
	cursor: pointer
	width: 100%

.tb-menu-toggle i
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 2px
	transition: all .2s
	background-color: #fff !important

.tb-menu-toggle i:nth-child(2)
	top: 5px

.tb-menu-toggle i:nth-child(3)
	top: 10px
	width: 100%

.tb-menu-toggle.tb-animate-toggle i:first-child
	top: 35%
	transform: rotate(45deg)

.tb-menu-toggle.tb-animate-toggle i:nth-child(3)
	opacity: 0


.tb-menu-toggle.tb-animate-toggle i:nth-child(2)
	top: 35%
	transform: rotate(-45deg)

.tb-active-toggle
	top: 2px
	i
		background: #fff !important

.mobile
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 2
	background-color: #fff
	padding: 70px 20px 10px 20px
	display: none
	.pdf
		margin-bottom: 50px
	.mobile-menu
		list-style: none
		margin: 0 0 30px 0
		padding: 0 0 10px 0
		border-bottom: 1px solid $dark_blue
		>li
			margin-bottom: 20px
			position: relative
			&.parent-item
				&:before
					content: ''
					display: block
					position: absolute
					width: 2px
					height: 11px
					right: 4px
					top: 0
					background-color: #fff
				&:after
					content: ''
					display: block
					position: absolute
					width: 11px
					height: 2px
					right: 0
					top: 4px
					background-color: #fff
				&.active
					>ul
						display: block

					&:before
						display: none
			>a
				color: $dark_blue
				font-family: $font_medium
			>ul
				display: none
				list-style: none
				margin: 10px 0 0 0
				padding: 5px 0 0 20px
				&:before
					content: ''
					display: block
					width: 50px
					height: 2px
					background-color: #c5a455
					position: absolute
					left: 0
					top: 32px
				>li
					margin: 5px 0
					>a
						color: $dark_blue
						font-family: $font_medium

.scroll-off
	#wrapper
		height: 0
		width: 0
		opacity: 0
		overflow: hidden